.widget {
    // display: flex;
    // justify-content: space-between;
    // flex: 1;
    // padding: 10px;
    // -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47) ;
    // box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47) !important;
    // box-shadow: 2px 4px 10px 2px rgba(173, 172, 172, 0.67);
    // border-radius: 10px;
    // height: 100px;
    // transition: 0.3s ease;
  }
  .widget:hover {
    transform: translateY(-10px); 
  }
  .title {
    font-weight: bold;
    font-size: 14px;
    color: rgb(160, 160, 160);
  }
  .positive {
    color: green;
  }
  .negative {
    color: red;
  }
  .icon {
    font-size: 18px;
    padding: 5px;
    border-radius: 5px;
    align-self: flex-end;
    
  }
  .percentage {
    display: flex;
    align-items: center;
    font-size: 14px;
  }
  .link {
    width: max-content;
    font-size: 12px;
    border-bottom: 1px solid gray;
  }
  .counter {
    font-size: 28px;
    font-weight: 300;
  }
  .left,
    .right {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .right {
      align-items:flex-end;
    }
.top,
.center,
.bottom {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;

  .widget2 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex: 0.7;
    padding: 9px;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    border-radius: 10px;
    height: 82px;
    transition: 0.3s ease;

    &:hover {
      transform: translateY(-10px);
      cursor: pointer;
    }

    .left1,
    .right1 {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .title {
        font-weight: bold;
        font-size: 12px;
        color: rgb(160, 160, 160);
      }

      .counter {
        font-size: 20px;
        font-weight: 300;
      }

      .link {
        width: max-content;
        font-size: 10px;
        border-bottom: 1px solid gray;
      }

      .percentage {
        display: flex;
        align-items: center;
        font-size: 12px;

        &.positive {
          color: green;
        }

        &.negative {
          color: red;
        }
      }

      .icon {
        font-size: 18px;
        padding: 4px;
        border-radius: 5px;
        align-self: flex-end;
      }
    }
  }
}

.widget {
  display: flex;
  justify-content: space-between;
  flex: 1;
  padding: 10px;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  border-radius: 10px;
  height: 100px;
  transition: 0.3s ease;

  &:hover {
    transform: translateY(-10px);
    cursor: pointer;
  }

  .left,
  .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .title {
      font-weight: bold;
      font-size: 14px;
      color: rgb(160, 160, 160);
    }

    .counter {
      font-size: 28px;
      font-weight: 300;
    }

    .link {
      width: max-content;
      font-size: 12px;
      border-bottom: 1px solid gray;
    }

    .percentage {
      display: flex;
      align-items: center;
      font-size: 14px;

      &.positive {
        color: green;
      }

      &.negative {
        color: red;
      }
    }

    .icon {
      font-size: 18px;
      padding: 5px;
      border-radius: 5px;
      align-self: flex-end;
    }
  }
}