.about, .contact {
    background-image: linear-gradient(rgba(236, 228, 228, 0.7), #98a7e2), url(../Login/image/962218_412313.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
}